#{extends 'main.html' /}
#{set title:'Cadastro de Segurado' /}

<h1>Cadastro de Segurado</h1>
<hr />

<form action="/segurados/salvar" method="post">
	<input type="hidden" name="segurado.id" value="${s.id}" />
	<input type="text" name="segurado.nome" value="${s.nome}" placeholder="Nome completo"/><br />
	<input type="text" name="segurado.cpf" value="${s.cpf}" placeholder="CPF"/><br />
	<input type="text" name="segurado.email" value="${s.email}" placeholder="Email"/><br />
	<input type="text" name="segurado.telefone" value="${s.telefone}" placeholder="Telefone"/><br />
	<input type="submit" value="Salvar">
</form>

<a href="@{Segurados.listar}">Retornar</a>