#{extends 'main.html' /}
#{set title:'Cadastro de Apólice' /}

#{if s?.id}
	<h1>Edição de Apólice</h1>
#{/if}
#{else}
	<h1>Cadastro de Apólice</h1>
#{/else}

<hr />

<form action="/seguros/salvar" method="post">

	<input type="hidden" name="seguro.id" value="${s.id}" />

	<input type="text" name="seguro.placa" value="${s.placa}" placeholder="Placa do veículo"/><br />
	<input type="text" name="seguro.modelo" value="${s.modelo}" placeholder="Modelo do veículo"/><br />
	<input type="text" name="seguro.dataContratacao" value="${s.dataContratacao}" placeholder="Data de contratação (dd/MM/yyyy)"/><br />

	<select name="seguro.segurado.id">
		<option value="">Selecione o segurado...</option>
		#{list items:segurados, as:'seg'}
			<option value="${seg.id}" ${seg.id == s.segurado?.id ? 'selected' : ''}>
				${seg.nome}
			</option>
		#{/list}
	</select>

	<br /><br />

	<input type="submit" value="Salvar">
</form>

<a href="@{Seguros.listar}">Retornar</a>
<br />
<a href="@{Segurados.form}">Cadastrar novo segurado</a>